*.o
src/SegmentedArray_test
src/SegmentedArray
build/SegmentedArray
build/SegmentedArray_test
build/bash_color_test
build/cppSegmentedArrayTestResults.xml
src/Makefile
src/Makefile.in
src/.deps

# autotool auto gerenerated files
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/*
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
config.h.in~
configure
depcomp
install-sh
libtool
ltmain.sh
src/.deps/*
stamp-h1
missing
m4
null.d
.vscode
src/Search.code-search
build/SegmentedArray.core
test/SegmentedArray.core

